.container {
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(30);
  padding-bottom: rem(30);

  @include larger($bp-lg) {
    padding-left: rem(150);
    padding-right: rem(300);
  }

  &__py {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  &__px {
    padding-left: rem(20);
    padding-right: rem(20);

    @include larger($bp-lg) {
      padding-left: rem(150);
      padding-right: rem(300);
    }
  }

  &__pl {
    padding-left: rem(20);
    @include larger($bp-lg) {
      padding-left: rem(150);
    }
  }

  &--bg-grey {
    background-color: $secondary;
  }

  &--bg-secondary {
    background-color: $secondary-container;
  }
}

.flex {
  display: flex;
}