@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri-Regular.ttf');
  font-weight: 100 400;
}
@font-face {
  font-family: 'Amiri ';
  src: url('/fonts/Amiri-Bold.ttf');
  font-weight: 500 700;
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri-Italic.ttf');
  font-weight: 100 400;
  font-style: italic;
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri-BoldItalic.ttf');
  font-weight: 500 700;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('/fonts/NotoSansJP-Regular.otf'), url('/fonts/NotoSansJP-Medium.otf');
  font-weight: regular;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('/fonts/NotoSansJP-Light.otf'), url('/fonts/NotoSansJP-Thin.otf');
  font-weight: lighter;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('/fonts/NotoSansJP-Bold.otf'), url('/fonts/NotoSansJP-Black.otf');
  font-weight: bold;
}