$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$primary-colour: #14141c;
$secondary: #1d1d25;
$secondary-container: #14141c;
$tint-colour: #4fb78c;
$primary-text: #fff;
$secondary-text: #85868c;