.header {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
  align-items: center;

  &__logo {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'NotoSansJP';
    transition: opacity .3s ease-in;

    @include larger($bp-md) {
      font-size: 1.4rem;
    }

    @include larger($bp-lg) {
      font-size: 1.8rem;
    }

    &--green {
      color: $tint-colour;
    }

    &--active {
      @include smaller($bp-md) {
        opacity: 0;
      }
    }
  }

  &--container {
    padding: rem(30) rem(20);

    @include larger($bp-lg) {
      padding: rem(30) rem(150);
    }
  }

  .desktopNav {
    width: calc(100%/3);
    display: none;

    @include larger($bp-lg) {
      display: block;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $primary-text;
    font-size: 1.1rem;
    font-family: 'NotoSansJP';
   
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: transparent;
      bottom: -14px;
      left: 0;
    }

    &:hover::after {
      background-color: $primary-text;
    }

    &--active {
      &::after {
        background-color: $primary-text;
      }
    }

    &--green {
      color: $tint-colour;
    }
  }
}
