.skills {
  &__content {
    padding-right: rem(20);
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: rem(22);
    line-height: 1.8;
    letter-spacing: px;
    &--green {
      color: $tint-colour;
    }
  }

  &__text {
    color: $secondary-text;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    margin: 30px 0 45px;
  }

  &__cloud {
    position: relative;
    height: 400px;
    width: 400px;

    p {
      &:hover {
        color: $tint-colour;
      }
    }
  }
}
